name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: header.svg
          base: header
          config_timezone: America/New_York

  lines:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: lines-of-code.svg
          base: repositories
          config_timezone: America/New_York
          repositories_affiliations: owner, organization_member
          plugin_lines: yes

  activity-community:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: act-com.svg
          base: activity, community
          config_timezone: America/New_York

  issues-pulls:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: $${ secrets.METRICS_TOKEN }}
          filename: issues-pulls.svg
          base: ""
          config_timezone: America/New_York
          plugin_followup: yes
